* {
    padding: 0;
    margin: 0;
}

#entityHp {
    text-align: center;
}

.entity {
    text-align: center;
}

#entity:active {
    filter: invert(11%) sepia(99%) saturate(7286%) hue-rotate(0deg) brightness(103%) contrast(104%);
}

.progress {
    display: flex;
    justify-content: center;
}

.progress__line {
    background: red;
    bottom: 0;
    color: #fff;
    left: 0;
    top: 0;
    position: absolute;
    text-align: center;
}

.progress__line-bg{
    background: #ccc;
    border-radius: 10px;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 445px;
}








@media (max-width: 560px) {
    #entity{
        width: 310px;
        height: 235px;
        margin-left: 20px;
    }
}